# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.venv
datos/titanic.csv

# los datos se destrackean acá, pudiendo identificar las carpetas datos/titanic.csv o destrackear cualquier archivo *.csv